<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gainen - Edit Idea</title>
  <style>
      * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        html {
            background: url("../images/bg_50.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        body {
            width: 1400px;
            margin: 15px auto;
            font-family: 'Segoe UI', serif;
        }

        .header {
            width: 1400px;
        }

        .logo {
            width: 200px;
            height: 60px;
            float: left;
            text-align: center;
            color: #fff;
        }

        .title {
            letter-spacing: 1px;
            font-size: 26px;
            text-decoration: none;
            color: #fff;
        }

        .caption {
            font-size: 10px;
            letter-spacing: .8px;
            font-weight: 600;
        }

        .navbar {
            width: 800px;
            height: 60px;
            float: right;
        }

        .navbar ul {
            float: right;
            text-decoration: none;
            margin-top: 15px;
        }

        .navbar ul li {
            display: inline;
        }

        .navbar ul li a {
            text-decoration: none;
            color: #fff;
            margin: 10px;
            font-weight: 700;
            padding-bottom: 5px;     
        }

        .navbar ul li a:active, a:hover {
            border-bottom: 3px solid rgb(255, 255, 255);
        }

        /*
        * Main Section
        */

        .left {
            width: 700px;
            float: left;
            height: 600px;
        }

        .postIdea {
            color: #fff;
            margin-left: 50px;
            
        }

        .postIdea p {
            margin-top: 40px;
            margin-bottom: 10px;
            margin-left: 10px;
            font-size: 30px;
            font-weight: 700;
            font-family: 'Segoe UI', serif;
        }

        input[type=text] {
            width: 500px;
            height: 50px;
            margin: 10px 10px 5px;
            border-radius: 5px;
            border: none;
            padding: 10px;
            font-size: 20px;
            font-weight: 700;
            font-family: 'Segoe UI', serif;
        }

        input[type=text]:focus {
            outline: none;
        }

        textarea {
            width: 500px;
            max-height: 300px;
            margin: 5px 10px 10px; 
            border-radius: 5px;
            border: none;
            padding: 10px;
            font-size: 15px;
            font-weight: 700;
            font-family: 'Segoe UI', serif;
            word-wrap: break-word;
        }

        textarea:focus {
            outline: none;
        }

        input[type=radio] {
            margin-left: 10px;
            margin-bottom: 5px;
        }

        .submitIdea {
            width: 200px;
            height: 60px;
            margin-left: 10px;
            margin-top: 30px;
            font-family: 'Segoe UI', serif;
            font-size: 22px;
            cursor: pointer;
            color: rgb(82, 82, 82);
            font-weight: 700;
            border-radius: 5px;
            border: none;
        }

        .submitIdea:hover {
            color: #000;
        }

        .submitIdea:focus {
            outline: none;
        }

        main {
            width: 700px;
            float: right;
            height: 600px;
        }

        footer .footerText {
            clear: both;
            color: #fff;
            text-align: center;
            font-weight: 700;
            font-size: 12px;
        }
  </style>
</head>

<body>
  <header>
    <div class="logo">
      <a href="/userLoggedInHome" class="title"><h2>Gainen</h2></a>
      <p class="caption">where ideas come to life</p>
    </div>
    <div class="navbar">
      <ul>
        <li><a href="/postIdea">Create Idea</a></li>
        <li><a href="/publicIdea">All Ideas</a></li>
        <li><a href="/userprofile">My Profile</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
  </header>
  <aside class="left">
    <div class="postIdea">

      <p>Edit Idea</p>

      <form method="POST" action="" class="submitIdeaForm">
        <input type="text" name="title" id="title" value="<%= title %>" placeholder="Title"><br>

        <textarea name="idea" id="idea" cols="30" rows="10"
          placeholder="Provide a brief description of your idea..."><%= idea %></textarea><br>
        
        <% 
        if (isPostOnPublic === true){
         %>
            <input type="radio" name="isPublic" id="public" value="public" checked>
            <label for="public"><b>Public</b></label><br>

            <input type="radio" name="isPublic" id="private" value="private">
            <label for="private"><b>Private</b></label><br>
        <% 
        } else {
        %>
            <input type="radio" name="isPublic" id="public" value="public">
            <label for="public"><b>Public</b></label><br>

            <input type="radio" name="isPublic" id="private" value="private" checked>
            <label for="private"><b>Private</b></label><br>
            <%
        }
        %>

        <button type="submit" value="Submit" class="submitIdea">Submit</button>
      </form>
    </div>
  </aside>
  <main></main>
  <footer>
    <p class="footerText">&copy; 2021 Gainen. All rights reserved.</p>
  </footer>
</body>

</html>