<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/home.css">
    <title>Gainen - where ideas come to life</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="/" class="title"><h2>Gainen</h2></a>
            <p class="caption">where ideas come to life</p>
        </div>
        <div class="navbar">
            <ul>
                <li><a href="#">Browse</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </header>
    <aside class="left">
        <div>
            <p class="quote">You might not know it, but there's a good chance your idea could be unique</p>
        </div>
        <div>
            <a href="/login">
                <input class="submitIdea" type="button" value="Submit an Idea">
            </a>
        </div>
    </aside>
    <main></main>
    <footer>
        <p class="footerText">&copy; 2021 Gainen. All rights reserved.</p>
    </footer>
</body>

</html>