<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Gainen - where ideas come to life</title>
</head>

<body class=" bg">
    <div class="row w-100">
        <div class="col-lg-1"></div>
        <div class="col">
            <div class="d-flex h-100 p-3 mx-auto flex-column">
                <header class="masthead mb-auto mt-3">
                    <div class="inner">
                        <h3 class="masthead-brand ml-4">Gainen</h3>
                        <nav class="nav nav-masthead justify-content-center">
                            <a class="nav-link active" href="#">Browse</a>
                            <a class="nav-link" href="#">Register</a>
                            <a class="nav-link" href="#">Login</a>
                        </nav>
                    </div>
                </header>

                <main role="main" class="inner cover">
                    <h1 class="cover-heading w-50">You might not know it, but there's a good chance your idea could be
                        unique</h1><br>
                    <p class="lead">
                        <a href="#" class="btn btn-lg btn-secondary">Submit an Idea</a>
                    </p>
                </main>

                <footer class="mastfoot mt-auto text-center">
                    <div class="inner">
                        <p><i class="fa fa-copyright" aria-hidden="true"></i> 2021 Gainen. All rights reserved.</p>
                    </div>
                </footer>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</body>

</html>