<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Gainen - Ideas Meet</title>
</head>

<body>
  <header>
    <%- include('layouts/navbar') -%>
    <h2>Login Form</h2>
  </header>
  
  <main>

  <form name="login" action="" method="post">

  <div class="container">
    <label for="username"><b>username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required><br>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required><br>

    <p id="errors" class="errors"></p>
      <% if(typeof error !== 'undefined'){ %>
              <%= error %>
          <% } %><br>
        
    <button type="submit">Login</button>
  </div>

  </form>

  </main>
</body>

<%- include('layouts/footer') -%>

</html>