<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/login.css">
  <title>Gainen - where ideas come to life</title>
</head>

<body>
  <header>
    <div class="logo">
      <h2 class="title">Gainen</h2>
      <p class="caption">where ideas come to life</p>
    </div>
    <div class="navbar">
      <ul>
        <li><a href="#">Browse</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>
  </header>
<<<<<<< HEAD
  <main class="">
    <div class="login">
      <p>Login</p>
      <form method="POST" action="" class="loginForm">
        <input type="text" name="username" id="username" placeholder="Username"><br>
        <input type="password" name="password" id="password" placeholder="Password"><br>
        <p id="errors" class="errors">
          <% if(typeof error !=='undefined' ){ %>
            <%= error %>
              <% } %><br>
                <input type="submit" value="Login" class="submit">
      </form>
    </div>
=======
  
  <main>

  <form name="login" action="" method="post">

  <div class="container">
    <label for="username"><b>username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required><br>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required><br>

    <p id="errors" class="errors"></p>
      <% if(typeof error !== 'undefined'){ %>
              <%= error %>
          <% } %><br>
        
    <button type="submit">Login</button>
  </div>

  </form>
>>>>>>> 4b6a59db30a9cf2b87624212846c57d4cf11d3ea

  </main>
  <footer>
    <p class="footerText">&copy; 2021 Gainen. All rights reserved.</p>
  </footer>
</body>

</html>