<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="styles/login.css">
  <title>Gainen - Login</title>
</head>

<body>
  <header>
    <div class="logo">
      <a href="/" class="title"><h2>Gainen</h2></a>
      <p class="caption">where ideas come to life</p>
    </div>
    <div class="navbar">
      <ul>
        <li><a href="/explore">Explore</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>
  </header>
  <main class="">
    <div class="login">
      <p>Login</p>
      <form method="POST" action="" class="loginForm">
        <input type="text" name="username" id="username" placeholder="Username"><br>
        <input type="password" name="password" id="password" placeholder="Password"><br>
        <p id="errors" class="errors">
          <% if(typeof error !=='undefined' ){ %>
            <%= error %>
              <% } %><br>
                <input type="submit" value="Login" class="submit">
      </form>
    </div>

  </main>
  <footer>
    <p class="footerText">&copy; 2021 Gainen. All rights reserved.</p>
  </footer>
</body>

</html>