<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/postIdea.css">
  <title>Gainen - Submit Idea</title>
</head>

<body>
  <header>
    <div class="logo">
      <a href="/userLoggedInHome" class="title"><h2>Gainen</h2></a>
      <p class="caption">where ideas come to life</p>
    </div>
    <div class="navbar">
      <ul>
        <li><a href="/postIdea">Create Idea</a></li>
        <li><a href="/publicIdea">All Ideas</a></li>
        <li><a href="/userprofile">My Profile</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
  </header>
  <aside class="left">
    <div class="postIdea">

      <p>Present an Idea</p>

      <form method="POST" action="" class="submitIdeaForm">
        <input type="text" name="title" id="title" placeholder="Title"><br>

        <textarea name="idea" id="idea" cols="30" rows="10"
          placeholder="Provide a brief description of your idea..."></textarea><br>

        <input type="radio" name="isPublic" id="public" value="public">
        <label for="public"><b>Public</b></label><br>

        <input type="radio" name="isPublic" id="private" value="private">
        <label for="private"><b>Private</b></label><br>

        <button type="submit" value="Submit" class="submitIdea">Submit</button>
      </form>
    </div>
  </aside>
  <main></main>
  <footer>
    <p class="footerText">&copy; 2021 Gainen. All rights reserved.</p>
  </footer>
</body>

</html>