<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="styles/register.css">
  <title>Gainen - Register</title>
</head>

<body>
  <header>
    <div class="logo">
      <a href="/" class="title"><h2>Gainen</h2></a>
      <p class="caption">where ideas come to life</p>
    </div>
    <div class="navbar">
      <ul>
        <li><a href="/explore">Explore</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
  </header>
  <main class="">
    <div class="register">
      <p>Register</p>
      <form method="POST" action="" class="registerForm registerPage" enctype="multipart/form-data">
        <input type="text" name="username" id="username" placeholder="Username" autocomplete="off" required><br>
        <input type="password" name="password" id="password" placeholder="Password" required><br>
        <input type="text" name="firstName" id="firstName" placeholder="First Name" autocomplete="off" required><br>
        <input type="text" name="lastName" id="lastName" placeholder="Last Name" autocomplete="off" required><br>
        <input type="email" name="emailId" id="emailId" placeholder="Email Address" autocomplete="off" required><br>
        <input type="text" name="phone" id="phone" placeholder="Phone" autocomplete="off" required><br>
        <input class="profPicUpload" type="file" placeholder="Insert your picture" name="profilePic" id="profilePic" required><br>
        <% if(typeof error !=='undefined' ){ %>
          <%= error %>
            <% } %>
              <input type="submit" value="Submit" class="submit">
      </form>
    </div>

  </main>
  <footer>
    <p class="footerText">&copy; 2021 Gainen. All rights reserved.</p>
  </footer>
</body>

</html>