* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

html {
     background: url("../images/bg.jpg") no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

body {
     width: 1400px;
     margin: 15px auto;
     font-family: 'Segoe UI', serif;
}

.header {
     width: 1400px;
}

.logo {
     width: 200px;
     height: 60px;
     float: left;
     text-align: center;
     color: #fff;
}

.title {
     letter-spacing: 1px;
     font-size: 26px;
}

.caption {
     font-size: 10px;
     letter-spacing: .8px;
     font-weight: 600;
}

.navbar {
     width: 800px;
     height: 60px;
     float: right;
}

.navbar ul {
     float: right;
     text-decoration: none;
     margin-top: 15px;
}

.navbar ul li {
     display: inline;
}

.navbar ul li a {
     text-decoration: none;
     color: #fff;
     margin: 10px;
     font-weight: 700;
     padding-bottom: 5px;     
}

.navbar ul li a:active, a:hover {
     border-bottom: 3px solid rgb(255, 255, 255);
}

/*
* Main Section
*/

.left {
     width: 700px;
     float: left;
     height: 600px;
}

.delProfile {
     margin-left: 20px;
}

.delProfile h1, p, label {
     color: #fff;
}

.delProfile h1 {
     font-size: 35px;
     text-align: center;
     margin: 20px;
}

.delProfile p, .delProfile .para {
     font-size: 22px;
     font-weight: 600;
     word-wrap: normal;
     text-align: justify;
}

.delProfile .para {
     margin-bottom: 20px;
}

.delProfile label {
     font-weight: 600;
     letter-spacing: .5px;
}

.delProfile img {
     margin: 10px 0 0 10px;
}

.delProfile .del-btn {
     width: 180px;
     height: 50px;
     border-radius: 5px;
     border: none;
     font-size: 24px;
     font-family: 'Poppins', serif;
     font-weight: 700;
     cursor: pointer;
     color: rgb(82, 82, 82);
}

.delProfile .del-btn:hover {
     color: #000;
}
main {
     width: 700px;
     float: right;
     height: 600px;
}

footer .footerText {
     clear: both;
     color: #fff;
     text-align: center;
     font-weight: 700;
     font-size: 12px;
}